.pricing {
  padding-top: 128px;
  background-color: #fff;
  &__title-block {
    margin-bottom: 56px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    &--title {
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 16px;
    }
    &--text {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      max-width: 608px;
    }
    &--title,
    &--text {
      color: #828282;
      text-align: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  &__item {
    border-radius: 8px;
    background: #f3f3f3;
    padding-top: 34px;
    padding-bottom: 40px;
    padding-left: 23px;
    padding-right: 23px;
    text-align: center;
    margin-bottom: 32px;
    max-width: 350px;
    &--img {
      margin-bottom: 16px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    &--title {
      font-size: 24px;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 8px;
    }
    &--text {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
    }
    &--title,
    &--text {
      width: 90%;
      color: #828282;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 296px;
    }
  }
}

// media
// 750

@media screen and (min-width: 750px) {
  .pricing__list {
    display: flex;
  }
}
